@font-face {
    font-family: NotoSans-Thin;
    src: url(../fonts/Noto/NotoSans-Thin.ttf);
}

@font-face {
    font-family: NotoSans-Light;
    src: url(../fonts/Noto/NotoSans-Light.ttf);
}

@font-face {
    font-family: NotoSans-ExtraLight;
    src: url(../fonts/Noto/NotoSans-ExtraLight.ttf);
}

@font-face {
    font-family: NotoSans-Medium;
    src: url(../fonts/Noto/NotoSans-Medium.ttf);
}

@font-face {
    font-family: NotoSans;
    src: url(../fonts/Noto/NotoSans-Regular.ttf);
}

@font-face {
    font-family: NotoSans-SemiBold;
    src: url(../fonts/Noto/NotoSans-SemiBold.ttf);
}

@font-face {
    font-family: NotoSans-Bold;
    src: url(../fonts/Noto/NotoSans-Bold.ttf);
}

@font-face {
    font-family: NotoSans-ExtraBold;
    src: url(../fonts/Noto/NotoSans-ExtraBold.ttf);
}

@font-face {
    font-family: NotoSans-Black;
    src: url(../fonts/Noto/NotoSans-Black.ttf);
}