<div class="bg-image container-fluid d-flex justify-content-center align-items-center" >
    <div class="d-flex align-items-center justify-content-center flex-column" id="bgContainer">
        <div class="form-wrapper">
            <div class="d-flex flex-column align-items-center justify-content-center w-100" *ngIf="option == 0">
                <span>
                    <img class="login-page-logo" src="../../assets/images/logo.svg"/>
                </span>
                
                <div class="logo-combine">
                    <img src="../../assets/icons/i.svg" />
                    <img src="../../assets/icons/c.svg" />
                    <img src="../../assets/icons/e-red.svg" />
                    <img src="../../assets/icons/b.svg" />
                    <img src="../../assets/icons/r.svg" />
                    <img src="../../assets/icons/e-blue.svg" />
                    <img src="../../assets/icons/k.svg" />
                    <img src="../../assets/icons/r.svg" />
                </div>
                <p class="event-host-title m-0 pt-3 pb-2">For Event Hosts</p>
                <hr class="w-100 line" style="background: #D1D1D6; ">
                <h3 class="login-title">Login</h3>
                <p class="desc1">Choose your method to login</p>
                <p class="email-btn w-100 primary-btn" (click)="emailLogin(1)"><img src="../../assets/icons/email.svg" class="pr-1" /> Email</p>
                <p class="divide-line w-100 m-0">Or</p>
                <div class="social-login-btn-wrapper">
                    <p class="google-btn w-100 primary-btn"><img src="../../assets/icons/gmail.svg" class="pr-1" /> Google</p>
                    <p class="facebook-btn w-100 primary-btn"><img src="../../assets/icons/fb.svg" class="pr-1" /> Facebook</p>
                    <p class="apple-btn w-100 mb-0 primary-btn"><img src="../../assets/icons/apple.svg" class="pr-1" /> ID</p>
                </div>

            </div>
            <div class="w-100 smooth-transition" *ngIf="option == 1" >
                <app-login-with-email-and-pwd (optionselected)= "optionClick($event)"></app-login-with-email-and-pwd>
            </div>
            <div class="w-100 smooth-transition" *ngIf="option == 2" >
                <app-reset-password (optionselected)= "optionClick($event)"></app-reset-password>
            </div>
        </div>
        <div id="toastr-id" class="d-flex w-100 justify-content-center align-items-center mb-2 custom-toastr-container slide-bottom slide-left" toastContainer >
        </div>
    </div>
</div>