<div class="forget-pwd-wrapper w-100 smooth-transition" >
    <form class="" [formGroup]="resetEmailForm">
        <section class="">
            <p class="back-to-login-text mb-0 d-inline" (click)="optionClick(1)"><i class="fa fa-angle-left pr-2" style="font-weight: bolder;" aria-hidden="true"></i> Login</p>
            <p class="forget-pwd-title mb-0">Forgot Password</p>
        </section>
        <section>
            <div class="form-group mb-0 d-flex flex-column">
              <label for="exampleInputEmail2" class="mb-0">Email</label>
              <input type="email" formControlName="resetEmail" class="form-control common-input" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter Email Address">
              <!-- <small *ngIf="resetLinkStatus" [ngClass]="{'success-text': resetLinkStatus?.status === 1, 'failed-text' : resetLinkStatus?.status === 0, 'warning-text': resetLinkStatus?.status === 2 }" class="common-text-box-msg " >{{resetLinkStatus?.msg}}</small> -->
            </div>
        </section>
        <section>
            <button type="submit" [disabled]="timeLeft !== 0" class=" reset-pwd-btn w-100" [ngClass]="{ 'primary-btn': timeLeft === 0, 'disabled-btn': timeLeft !== 0}" (click)="submitResetLink()">
                <svg width="15" height="14" id="sentLinkIcon" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg" [ngClass]="{ 'disabled-text': timeLeft !== 0 }" class="mr-1" >
                    <path d="M1.42383 12.9434C0.925781 13.1426 0.427734 12.8105 0.427734 12.3125V9.02539C0.427734 8.69336 0.693359 8.39453 1.02539 8.32812L11.0527 7L1.02539 5.67188C0.693359 5.60547 0.427734 5.30664 0.427734 4.97461V1.6875C0.427734 1.18945 0.925781 0.857422 1.42383 1.05664L13.7754 6.33594C14.3398 6.60156 14.3398 7.39844 13.7754 7.66406L1.42383 12.9434Z"  />
                </svg> 
                {{ resetLinkStatus?.status === 1 ? 'Send Again in ' +timeLeft+ ' ...': 'Send Reset Link'}}
            </button>
        </section>
    </form>
</div>