<div class="forget-pwd-wrapper w-100" >
    <form class="" autocomplete="off">
        <section class="">
            <p class="back-to-login-text mb-0 d-inline" (click)="backClicked(1)"><i class="fa fa-angle-left pr-2" style="font-weight: bolder;" aria-hidden="true"></i> Login</p>
            <p class="forget-pwd-title mb-0">Forgot Password</p>
        </section>
        <section>
            <div class="form-group mb-0 d-flex flex-column">
              <label for="exampleInputEmail2" class="mb-0">Email</label>
              <input type="email" autocomplete="off" class="form-control common-input" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter Email Address">
              <small *ngIf="resetLinkStatus" [ngClass]="{'success-text': resetLinkStatus?.status === 1, 'failed-text' : resetLinkStatus?.status === 0, 'warning-text': resetLinkStatus?.status === 2 }" class="common-text-box-msg " >{{resetLinkStatus?.msg}}</small>
            </div>
        </section>
        <section>
            <button type="submit" class=" reset-pwd-btn primary-btn w-100" (click)="submitResetLink()"><img src="../../../assets/icons/sent_link-icon.svg" class="pr-2" /> {{ resetLinkStatus?.status === 1 ? 'Send Again in ' +timeLeft+ ' ...': 'Send Reset Link'}}</button>
        </section>
    </form>
</div>