<div class="forget-pwd-wrapper w-100" >
    <form class="" autocomplete="off">
        <section class="">
            <p class="back-to-login-text mb-0 d-inline" (click)="backClicked(1)"><i class="fa fa-angle-left pr-2" style="font-weight: bolder;" aria-hidden="true"></i> Login</p>
            <p class="forget-pwd-title mb-0">Forgot Password</p>
        </section>
        <section>
            <div class="form-group mb-0 d-flex flex-column">
              <label for="exampleInputEmail2" class="mb-0">Email</label>
              <input type="email" autocomplete="off" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter Email Address">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
        </section>
        <section>
            <button type="submit" class=" reset-pwd-btn primary-btn w-100"><img src="../../../assets/icons/sent_link-icon.svg" class="pr-2 pb-1" /> Send Reset Link</button>
        </section>
    </form>
</div>