
@import "../../../assets/scss/mixins.scss";

.forget-pwd-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 26px;
    @include media-breakpoint-max-480{
        gap: 16px;
    }
  }
  .forget-pwd-wrapper form .form-group{
    padding: 16px 0px;
    gap: 10px;
  }
  .forget-pwd-wrapper form div.form-group label{
    color:  var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.32px; 
  }

  .forget-pwd-wrapper form section{
    padding: 0px 16px;
    // display: none;
  }
  .back-to-login-text{
    color: var(--darkBlue);
    text-align: left;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.32px; 
    // padding: 6px 0px ;
    cursor: pointer;
  }
  .forget-pwd-title{
    color: var(--black);
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.3px; 
    padding-top: 6px;
    @include media-breakpoint-max-480{
        font-size: 28px; 
    }
  }
  .reset-pwd-btn{
    background: var(--darkBlue);
  }